////
/// Variables
//

$header-background-color: #25354d !default;

$header-nav-background-color: #e2607a !default;

$header-mobile-top-bottom-space: 15px !default;

$header-desktop-top-bottom-space: 25px !default;

$header-left-right-space: 15px !default;

$header-nav-mobile-link-color: #ffffff !default;

$header-nav-desktop-link-color: #ffffff !default;

$header-breakpoint: 769px !default;

$logo-mobile-height: 24px !default;

$logo-desktop-height: 32px !default;

$btn-menu-size: $logo-mobile-height - 10px !default;;