@import "variables";
@import "global";

* {
  box-sizing: border-box;
}

////
/// Header
//

.main-header {

  background-color: $header-background-color;
  padding: $header-mobile-top-bottom-space $header-left-right-space;
  transition: padding .3s;

  .logo {
    float: left;
    max-width: calc(100% - (32px + 15px));
    height: $logo-mobile-height;
    transition: height .3s;
    overflow: hidden;
    > * {
      line-height: $logo-mobile-height;
      font-size: 26px;
      margin: 0;
      padding: 0;
      display: block;
      transition: line-height .3s;
    }
    a {
      text-decoration: none;
      /* Image link fix*/
      display: inline-block;
      line-height: 0;
    }
    img {
      height: $logo-mobile-height;
      transition: height .3s;
      max-width: 100%;
    }
  }

  .navigation {
    float: right;
    max-width: $logo-mobile-height;
    .btn-menu {
      background: transparent url("../images/menu-btn.svg") no-repeat center;
      background-size: $btn-menu-size;
      display: block;
      width: $logo-mobile-height;
      height: $logo-mobile-height;
      position: relative;
      cursor: pointer;
      text-indent: -9999px;
    }
    > .nav-links {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &.open {
      @media (max-width: #{$header-breakpoint - 1px}) {
        > .nav-links {
          background-color: $header-nav-background-color;
          display: block;
          position: absolute;
          z-index: 999;
          top: $header-mobile-top-bottom-space * 2 + $logo-mobile-height;
          left: 0;
          width: 100%;
          > li {
            > a {
              padding: $header-left-right-space;
              display: block;
              color: $header-nav-mobile-link-color;
            }
          }
        }
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @media (min-width: $header-breakpoint) {
    padding: $header-desktop-top-bottom-space $header-left-right-space;
    .logo {
      max-width: none;
      height: $logo-desktop-height;
      > * {
        line-height: $logo-desktop-height;
        font-size: 32px;
      }
      img {
        height: $logo-desktop-height;
      }
    }
    .navigation {
      max-width: none;
      line-height: $logo-desktop-height;
      .btn-menu {
        display: none;
      }
      .nav-links {
        display: block;
        > li {
          float: left;
          margin-left: 15px;
          a {
            color: $header-nav-desktop-link-color;
          }
        }
      }
    }
    &.shrink {
      padding-top: $header-desktop-top-bottom-space * .50;
      padding-bottom: $header-desktop-top-bottom-space * .50;
      .logo {
        height: #{$logo-desktop-height * .75};
        > * {
          line-height: #{$logo-desktop-height * .75};
        }
        img {
          height: #{$logo-desktop-height * .75};
        }
      }
      .navigation {
        line-height: #{$logo-desktop-height * .75};
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}